@model List<FurnitureBy.Services.Models.CategoryDto>
@{
    ViewData["Title"] = "Категория";
    var path = "КАТАЛОГ/" + FurnitureBy.Domain.Base.Base.GetNameMainCategory(Model.FirstOrDefault().ParentId).ToUpper() + ((ViewBag.AdditionalCategory != null) ? "И СТУЛЬЯ" : "");
}

<div class="breadcrumb-item">
    @path
</div>

<div class="row d-flex">
    <div class="col-12 px-0 category-block-background" style="background: url(../Images/@FurnitureBy.Domain.Base.Base.GetNameImageMainCategory(Model.FirstOrDefault().ParentId)) no-repeat">
        <div class="col-12 d-flex justify-content-center category-block">
            <div class="category-item-block p-3">
                <div class="title-category">@FurnitureBy.Domain.Base.Base.GetNameMainCategory(Model.FirstOrDefault().ParentId).ToUpper()</div>
                @foreach (var category in Model)
                {
                    <div class="mb-2"><a asp-action="ProductInCategories" asp-controller="Home" asp-route-id="@category.Id" asp-route-nameCategory="@($"{path}/{category.Name.ToUpper()}")" asp-route-description="@category.Description">@category.Name.ToUpper()</a></div>
                }
            </div>

            @if (ViewBag.AdditionalCategory != null)
            {
                <div class="category-item-block p-3" style="margin-left: 100px;">
                    <div class="title-category">СТУЛЬЯ</div>
                    @foreach (var category in ViewBag.AdditionalCategory)
                    {
                        <div class="mb-2"><a asp-action="ProductInCategories" asp-controller="Home" asp-route-id="@category.Id" asp-route-nameCategory="@($"{path}/{category.Name.ToUpper()}")" asp-route-description="@category.Description">@category.Name.ToUpper()</a></div>
                    }
                </div>
            }
        </div>
    </div>
</div>