@model IList<FurnitureBy.Services.Models.UserDto>

@{
    ViewData["Title"] = "Список пользователей";
}

<h2 class="mb-4">Список пользователей</h2>

<a asp-action="Add" asp-controller="User" class="btn btn-primary mb-4">Добавить</a>

<table class="table">
    <thead>
        <tr>
            <th>Логин</th>
            <th>ФИО</th>
            <th>Роль</th>
            <th>Активен</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Surname @user.Name @user.Patronymic</td>
                <td>@user.Role.Name</td>
                <td><input type="checkbox" disabled @if (user.IsActive) { <text>checked</text>}/></td>
                <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-login="@user.Login" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Details" asp-controller="User" asp-route-login="@user.Login" class="btn btn-primary">Просмотреть</a>
                </td>
            </tr>
        }
    </tbody>
</table>
